@import '../../styles/constants';
@import '../../styles/fonts';

html[data-direction='down'] .wrapper {
    transform: translate3d(0, -100%, 0);
}
.wrapper {
    position: fixed;
    width: 100vw;
    margin: auto;
    z-index: 999;
    color: $text;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem 5rem;
        height: clamp(60px, 10vh, 100px);
        margin: auto;
        border-radius: 5px;
        backdrop-filter: blur(33px);
        background-color: $header-bg;

        @media (max-width: $small) {
            padding-inline: 2.5rem;
        }

        .logo {
            display: flex;
            cursor: pointer;

            h3 {
                text-transform: uppercase;
                line-height: 109%;
                letter-spacing: 0.03em;
                font-size: 1.2rem;
            }
        }
    }
}
