@import "../../styles/constants";
@import "../../styles/fonts";

.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    
    ul {
        width: clamp(424px, 60%, 25vw);
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navItem {
            font-weight: bold;
            cursor: pointer;
        }

    }

    @media (max-width: $large) {
        display: none;
    }
}
.mobileContainer {
    display: none;

    @media (max-width: $large) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        flex-direction: column;
        height: clamp(35px, 7vw, 60px);
        width: clamp(35px, 7vw, 60px);
        cursor: pointer;
        text-decoration: line-through;
        cursor: not-allowed;
    }
}
