@import '../../styles/constants';
@import '../../styles/fonts';

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  ul {
    width: clamp(424px, 60%, 25vw);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navItem {
      font-weight: bold;
      cursor: pointer;
    }
    .contact {
      background-color: $accent-dark;
      color: $bg;
      border-radius: 20px;
      padding-block: 0.6rem;
      padding-inline: 1rem;
    }
  }

  @media (max-width: $large) {
    display: none;
  }
}