@import '../../styles/colors';
@import '../../styles/fonts';

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 7rem;
    position: relative;

    .title {
        position: relative;
        text-align: center;
        color: $text;
        @include title(2rem, 1.2rem, 7vw, 6rem);
        span {
            color: $accent-dark;
        }
    }
}
@media (max-width: 992px) {
    .container {
        margin: auto 1rem;
        padding-top: 5rem;

        .title {
            width: 90%;
            text-align: center;
        }
    }
}
