@import '../../styles/constants';
@import '../../styles/fonts';

.container {
  min-height: 100vh;
  margin-top: 30vh;
  display: flex;
  flex-direction: column;

  @media (max-width: $small) {
    margin-top: 20vh;
  }
  color: $text;
  .titleContainer {
    display: flex;
    flex-direction: column;

    .title {
      @include title(0.8rem, 0.6rem, 10vw, 10rem);

      &:last-of-type {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: $small) {
          justify-content: flex-start;
        }
      }
      span {
        color: $accent;
      }
    }
    @media (max-width: $small) {
      padding: 0;
    }
  }
  .projectContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-top: 25vh;

    @media (max-width: $small) {
      margin-top: 10vh;
    }
  }
}
