// colors

$text: #1c1d20;
$bg: #ffffff;
$card-bg: #25252f;
$accent: #ffbf00;
$accent-dark: #a67c00;
$header-bg: #ffffff00;

// break points
$small: 576px;
$medium: 768px;
$large: 992px;
$xLarge: 1200px;