// colors

// $text: #ffffff;
// $bg: #6317cf;
// $card-bg: #25252f;
// $accent: #b982f9;
// $accent-dark: #000;
// $footer-bg: #45108F;
// $header-bg: #ffffff00;

$text: #1c1d20;
$bg: #ffffff;
$card-bg: #25252f;
$accent: #b982f9;
$accent-dark: #45108F;
$footer-bg: #45108F;
$header-bg: #ffffff00;

// break points
$small: 576px;
$medium: 768px;
$large: 992px;
$xLarge: 1200px;