@font-face {
    font-family: Rota;
    src: url(../public/fonts/Rota-ExtraLight.otf);
    font-weight: 100;
}
@font-face {
    font-family: Rota;
    src: url(../public/fonts/Rota-Light.otf);
    font-weight: 200;
}
@font-face {
    font-family: Rota;
    src: url(../public/fonts/Rota-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: Rota;
    src: url(../public/fonts/Rota-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: Rota;
    src: url(../public/fonts/Rota-SemiBold.otf);
    font-weight: 600;
}
@font-face {
    font-family: Rota;
    src: url(../public/fonts/Rota-Bold.otf);
    font-weight: 800;
}

@mixin title($low: 2rem, $midRem: 1.8rem, $midVw: 7vw, $high: 6rem, $fontWeight: 800) {
    line-height: 1.39;
    font-size: clamp($low, $midRem + $midVw, $high);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @if $fontWeight != 800 {
      font-weight: $fontWeight;
    }
    
}
// TODO: Refactor titles with mixins
