@import "colors";
@import "fonts";

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    min-height: 100vh;
    .container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        margin: auto 2.5rem;
        width: 100%;
        .title {
            text-transform: uppercase;
            line-height: 1.39;
            font-size: clamp(1rem, 1rem + 5vw, 5rem);
            letter-spacing: 0.03em;
            font-weight: bold;
        }
        .title,
        .desc {
            color: $secondary;
            text-align: left;
        }
        .desc {
            p {
                text-transform: uppercase;
                margin-top: 1.2rem;
                font-weight: 400;
                line-height: 1.35;
                letter-spacing: 1.8px;
                font-size: clamp(0.3rem, 0.08rem + 1.5vw, 1rem);
                opacity: 0.7;
                span {
                    color: $accent-dark;
                }
            }
        }

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }
}
