@import "colors";

.container {
    height: clamp(55px, 55px + 2vw, 65px);
    width: clamp(150px, 100px + 11vw, 250px);
    border-radius: 15px;
    padding: 16px 32px;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;

        div {
            transition: all 0.15s ease-in;
            span {
                margin-bottom: -0.5vh;
                line-height: 1.6;
                font-weight: bolder;
                font-size: clamp(0.8rem, 0.3rem + 0.7vw, 1.1rem);
            }
        }
    }
    &:hover {
        translate: 0 -5px;
        box-shadow: 0 4px 20px -2px #{rgba(#d6d6d6, 0.52)};

        div {
            translate: 2px 0;
        }
    }
}
.fill {
    background-color: $secondary;
    border: 3px $secondary solid;

    span,
    .icon {
        color: $primary;
    }
}
.outline {
    background-color: $primary;
    border: 3px $secondary solid;

    span,
    .icon {
        color: $secondary;
    }
}

// @media (min-width: 576px) {
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// // Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .container {
        position: relative;
        right: 0;
        width: 30vh;
    }
}
