@import "colors";
@import "fonts";

.container {
    background-color: $footer-bg;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 7.5rem;
    margin-top: 20vh;

    

    .title {
        @include title(3rem, 2.2rem, 7vw, 12rem);
        margin-top: 10rem;
    }

    .card {
        $cardPadding: 2.6rem;
        height: 7vw;
        max-height: 368px;
        max-width: 644px;
        aspect-ratio: 7/4;
        border-radius: 23px;
        background-color: $secondary;
        color: $primary;
        padding: $cardPadding;
        text-transform: uppercase;
        position: relative;

        h4 {
            position: absolute;
            right: $cardPadding;
            font-size: 0.8rem;
            font-weight: 500;
            letter-spacing: 0.055em;
        }
        .jobTitle {
            top: $cardPadding;
        }
        .contactDetail {
            top: calc(2 * $cardPadding);
        }
        .contactDetail:last-of-type {
            top: calc(2.4 * $cardPadding);
        }
        h3 {
            position: absolute;
            bottom: $cardPadding;
            left: $cardPadding;
            font-size: 2rem;
            line-height: 109%;
            font-weight: 800;
            letter-spacing: 0.055em;
        }
    }
}
