@import "colors";
@import "fonts";
.container {
    width: 100%;
    min-height: 60%;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 3vh;
        line-height: 1.39;
        font-size: clamp(2rem, 1.8rem + 7vw, 5rem);
        letter-spacing: 0.03em;
        text-align: left;
        color: $secondary;
        font-weight: bold;
        bottom: 0d;
    }
}
@media (max-width: 992px) {
    .container {
        
    }
}
