@import 'colors';
.container {
    max-width: 2160px;
    min-width: 360px;
    margin: auto;
    background-color: $bg;
    min-height: 100vh;
    position: relative;

    .main {
        width: 100%;
        padding: 0 10vw;
    }
    @media (max-width: 992px) {
        & {
            .main {
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
