@import "colors";
.container {
    max-width: 2160px;
    min-width: 360px;
    margin: auto;
    background-color: $primary;
    min-height: 100vh;
    position: relative;

    .main {
        width: 100%;
        padding: 0 7.5rem;
    }
    @media (max-width:992px) {
        &{
            padding: 0 2rem;
        }
    }
    @media (max-width:576px) {
        &{
            padding: 0;

            .main{
                padding: 0 1.5rem;
            }
        }
    }
}

// @media (min-width: 576px) {  }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {  }

// // Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .container {
        padding-bottom: 10vh;
        .main {
            flex-direction: column;
            justify-content: center;
        }
    }
}
