@import "colors";
.container {
    max-width: 2160px;
    min-width: 360px;
    margin: auto;
    background-color: $primary;
    min-height: 100vh;
    position: relative;

    .main {
        width: 100%;
        position: absolute;
        padding: 0% 12%;
        bottom: 0;
    }
}

// @media (min-width: 576px) {  }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {  }

// // Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .container {
        padding-bottom: 10vh;
        .main {
            flex-direction: column;
            justify-content: center;
        }
    }
}
