@import "./colors";

.container {
  margin-top: 20vh;
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media (max-width: 992px){
      display: none;
    }
}
