@import "./colors";

.container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;

    ul {
        width: clamp(424px, 60%, 29vw);
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navItem {
            font-weight: bold;
            cursor: pointer;
        }
        .contact {
            background-color: $accent;
            // color: $primary;
            padding: 0.8rem 2rem;
            border-radius: 41px;
        }
    }

    @media (max-width: 992px) {
        display: none;
    }
}
.mobileContainer {
    display: none;

    @media (max-width: 992px) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      flex-direction: column;
      height: 60px;
      width: 60px;
      background-color: $accent;
      border-radius: 50%;
      cursor: pointer;

      .line{
        content: "";
        background-color: $secondary;
        width: 60%;
        height: 2px;
      }
    }
}
